@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

/* Common CSS Part Start */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 1);
}

/* Common CSS Part End */


/* Header Part CSS Start */
header{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25);
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav{
    width: 90%;
    height: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    width:fit-content;
    height: 100%;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

nav ul li{
    list-style: none;
    padding: 0.8rem 1rem;
    width: 4rem;
    text-align: center;
    
}

nav ul li:hover{ background-color: #E6533C; border-radius: 25px; font-weight: 700; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.inst-name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.5rem;
    font-weight:900;
    font-style: italic;
}
/* Header Part CSS End */


/* Home Part CSS Start */

#home{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
}


.home-left{
    width: 599px;
}

.home-title{
width:520px;
color: rgba(255, 255, 255, 1);
position: relative;
text-align: left;
}

.big-text{
    font-size: 5em;
    font-weight: bolder;
    margin: 0;
    line-height: 1.2em;
}

.floating-text{
  font-family: "Grey Qo", cursive;
  font-weight:100;
  font-style:italic;
  position: relative;
  font-size: 1.75em;
  margin: 0;
  z-index: -1;
}

.big-text:first-of-type{
    margin-bottom: -0.25em;
}

.big-text:last-of-type{
    margin-top: -0.25em;
}

.home-subtitle{
    width: 520px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 1.75em 0;
}

.home-right{
    width: 349px;
    height: 580px;
    position: relative;
}

.orange-btn{
    background-color: #E6533C;
    border-radius: 50px;
    padding: 16px 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    outline: none;
    border: none;
    margin-right: 14px;
}

.download-btn{
    border-radius: 50px;
    padding: 16px 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    outline: none;
    border: 1.5px solid;
    background: transparent;
}

.play-btn{
    position: absolute;
    width: 40px;
    background-color: #ffffff;
    top: 50%;
    bottom: 50%;
    left: -55%;
    border-radius: 50%;
}

.home-img{
    height: 100%;
}

.float{
    position: absolute;
    background-color:rgba(53, 53, 53, 0.75);
    backdrop-filter: blur(50%);
    z-index: 999;
    padding:7px 14px;
    color: #ffffff;
    border-radius: 12px;
    outline: #ffffff;
    outline-width: 1em;
    outline-offset: 1em;
}

.bold{
    font-weight:900;
}

.large{
    font-size: 2.5em;
}

.btn-1{
    top: 150px;
    right: -25px;
}

.btn-2{
    bottom:75px;
    left: -50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.75em;
    height: 80px;
    padding-top: unset;
    padding-bottom: unset;
}

.float-btn-text{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.75em;
}

#orange-circle{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.small{
    font-size: 1.5em;
}


/* Home Part CSS End */

/* Change Habits Part CSS Start */

#change-habits{
    margin: 6.25em auto;
    width: 90%;
}

.change-habits-title, .team-title{
    color: #ffffff;
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

.change-habits-subtitle, .team-subtitle{
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    margin: 14px 0;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 3.3em;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card-img{
    border-radius: 50%;
}

.card-title{
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 500;
}

.card-subtitle{
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

/* Change Habits Part CSS End */



/* Run Extra Miles Part CSS Start */

#extra-mile{
    display: flex;
    width: 90%;
    margin: 0 auto 6.25em;
    background-color: rgba(34, 34, 34, 1);
    justify-content: space-between;
    align-items: center;
    gap: 10.25em;
    border-radius: 10px;
    padding: 2.5625em 0;
}

.run-text{
    width: 443px;
    margin-left: 3.375em;
}


.extra-mile-title{
    color: #ffffff;
    font-weight: 900;
    font-size: 3em;
}

.extra-mile-subtitle{
    color: rgba(255, 255, 255, 0.65);
    margin:14px 0;
    font-size: 0.875em;
}


.orange-btn-2{
    background-color: #E6533C;
    border-radius: 50px;
    padding: 16px 71px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    outline: none;
    border: none;
    margin-right: 14px;
    margin-top: 2rem;
}

.run-img-container{
    border-radius: 18px;
    margin-right: 2em;
    width: 22rem;
    height: 24rem;
}


.run-img{
   width: 100%;
   height: 100%;
   object-fit: none;
   object-position: 67% 34%;
   border-radius: 18px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   -ms-border-radius: 18px;
   -o-border-radius: 18px;
}

/* Run Extra Miles Part CSS End */


/* Team Part CSS Start */

#team{
    width: 90%;
    margin: 0 auto 6.25em;

}

.team-member-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.25rem;
    background:rgba(0, 0, 0, 0.25);
    padding: 1.25rem;
    border-radius: 18px;
    margin-top: 3.5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.trainer{
    width: 20rem;
    height: 16rem;
    position: relative;
}


.trainer-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;

}


.trainer-name, .trainer-deg{
    position: absolute;
    margin-left: 1.5rem;
}

.trainer-name{
    bottom: 1.5rem;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}

.trainer-deg{
    bottom: 0.25rem;
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

/* Team Part CSS End */

/* Footer Part CSS Start */

footer{
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
}

.footer-title{
    color: rgba(230, 83, 60, 1);
    font-size: 4.25rem;
    font-weight:900;
    font-style: italic;
}

.footer-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.footer-subtitle{
    font-size: 2rem;
    color: #ffffff;
    font-weight:bold;
}

footer ul{
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer ul li{
    list-style: none;

}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top div:first-of-type{
    width: 40%;
}

hr{
    margin: 5rem 0 2rem;
}

.copyright{
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}

/* Footer Part CSS End */

/* Challange Part */

#BMI-calculator-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2d2d2d;
    margin: 0 auto 6.25em;


}

.bmi-chart, .bmi-calculator {
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.bmi-title{
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 52px;
}

.bmi-subtitle{
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 20px;

}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444;
}

th{
    color: #ffffff;
}

td{
    color: rgba(255, 255, 255, 0.65);
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

.calculate-btn {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f04e23;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e04420;
}