@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

/* Common CSS Part Start */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 1);
}

/* Common CSS Part End */


/* Header Part CSS Start */
header{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25);
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav{
    width: 90%;
    height: 3rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    width:fit-content;
    height: 100%;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

nav ul li{
    list-style: none;
    padding: 0.8rem 1rem;
    width: 4rem;
    text-align: center;
    
}

nav ul li:hover{ background-color: #E6533C; border-radius: 25px; font-weight: 700; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.inst-name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.5rem;
    font-weight:900;
    font-style: italic;
}
/* Header Part CSS End */
